.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    height: 100px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-img-question {
    width: 90px;
    height: 90px;
    margin: 0em;
    padding: 0em;
    float: none;
    display: inline-block;
    margin-right: 10px
}

.Description-question {
    margin: 0em;
    padding: 0em;
    float: none;
    display: inline-block;
}

.Category {
    margin: 0em;
    padding: 0em;
    text-align: left;
    color: #4183C4;
}

.Question-text {
    margin: 0em;
    padding: 0em;
    text-align: left;
}

.App-question {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-bottom: 0em;
}

.Difficulty {
    margin: 0em;
    padding: 0em;
    text-align: left;
    color: #7b7b7b;
}

.Question-answer {
    margin: 0em;
    padding: 0em;
    text-align: left;
}

.Header-options {
    margin: 1em;
    text-align: left;
}

.Choices {
    text-align: left;
    margin: auto;
    padding: 10px;
    width: 30%;
    height: 30%;
}

.list-group {
    list-style-type: none;
    padding-left: 40%;
}